.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
.removeCartItemBtn {
  width: 100px;
  height: 35px;
  background-color: #0b69ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.align-right {
  text-align: end;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.payment-options label {
  display: block;
  margin-bottom: 8px;
}

.confirm-btn {
  margin-top: 15px;
  width: 100%;
  height: 35px;
  background-color: #0b69ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.confirm-btn:disabled {
  background-color: #59afff;
}

.success-msg {
  color: green;
  font-weight: 600;
  text-align: center;
}
